# Supabase Configuration
VITE_SUPABASE_URL=https://ueisyyvtdjogsgaouzat.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVlaXN5eXZ0ZGpvZ3NnYW91emF0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE0ODUwNjgsImV4cCI6MjA4NzA2MTA2OH0.ZaZSUyLjoJ-L8oUFX5KC_SQDHAotz325ARvXOzaurxg
